@import "core/settings";
@import "core/reset";
// @import "components/page";
// @import "components/header";
// @import "components/links";
// @import "components/footer";
.hero-image {
  height: 100vh;
  background: url(../images/cover.jpg) 100% center no-repeat;
  background-size: cover;
  width: 100%;
}

.menuburguer {
  height: 44px;
  width: 44px;
  padding: 13px 13px 13px 13px;
  box-sizing: border-box;
  background-color: #0271bc;
  display: block;
  position: fixed;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 3px solid pink;
}

.header__title {
  border: 3px solid yellow;
  margin-bottom: 10px;
  font-family: Roboto Slab;
  font-size: 44px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 3px solid pink;
}

.header__text {
  border: 3px solid orange;
  margin-bottom: 45px;
  font-family: Roboto-regular;
  font-size: 16px;
}

.header__scroll {
  margin-bottom: 53px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.looking__smalltext {
  font-family: roboto regular;
  font-size: 14px;
  line-height: 30px;
  color: #8ccbea;
  text-transform: capitalize;
}

.looking__title {
  font-family: roboto slab-bold;
  font-size: 24px;
  line-height: 30px;
  color: black;
  text-transform: capitalize;
}

.looking__text {
  font-family: roboto regular;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
}

.looking__gobutton {
  border: 3px solid #f26002;

  border-radius: 33%;
  width: 76px;
  height: 45px;
  font-family: roboto medium;
  font-size: 20px;
  line-height: 45px;
  display: flex;
  justify-content: center;
}

.looking__gobutton__link {
  text-decoration: none;
  color: #f26002;
}

.looking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid red;
  margin: 30px 15px 45px 15px;
}

.reasons {
  border: 3px solid blue;
  background-color: #eff9ff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title" "reasons1 reasons1 reasons1" "reasons2 reasons2 reasons2" "reasons3 reasons3 reasons3" ". more .";
}

.reasons__title {
  grid-area: title;
}
.reasons__1 {
  grid-area: reasons1;
}
.reasons__2 {
  grid-area: reasons2;
}
.reasons__3 {
  grid-area: reasons3;
}
.reasons__more {
  grid-area: more;
}

.footerlinks1 {
  border: 3px solid cyan;
}

.footerlinks2 {
  border: 3px solid magenta;
}
