<footer class="footer">
  <a href="#" class="footer__arrow">
    <img src="../assets/images/ico-arrow.svg" alt="Ir a inicio" />
  </a>
  <nav class="footer__footerlinks1">
    <ul>
      <li><a title="Ir a Articles" href="http://www.Adalab.es" target="_blank">Articles</a></li>
      <li><a title="Ir a Books" href="http://www.Adalab.es" target="_blank">Books</a></li>
      <li><a title="Ir a Events" href="http://www.Adalab.es" target="_blank">Events</a></li>
      <li><a title="Ir a Reasons" href="http://www.Adalab.es" target="_blank">Reasons</a></li>
      <li><a title="Ir a Tips" href="http://www.Adalab.es" target="_blank">Tips</a></li>
    </ul>
  </nav>

  <nav class="footer__footerlinks2">
    <ul>
      <li><a title="Ir a Twitter" href="http://www.Adalab.es" target="_blank">Twitter</a></li>
      <li><a title="Ir a Instagram" href="http://www.Adalab.es" target="_blank">Instagram</a></li>
      <li><a title="Ir a Mastodon.social" href="http://www.Adalab.es" target="_blank">Mastodon.social</a></li>
    </ul>
  </nav>

  <div class="footer__smallandcopy">
    <ul>
      <li><small class="copyright">©2017</small></li>
      <li><small class="welove">we &#128147 components</small></li>
    </ul>

  </div>
</footer>