<footer class="footer">
  <a href="#" class="footer__arrow">
    <img src="../assets/images/ico-arrow.svg" alt="Ir a Adalab" />
  </a>
  <nav class="footerlinks1">
    <ul>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Reasons</a></li>
      <li><a href="#">Tips</a></li>
    </ul>
  </nav>

  <nav class="footerlinks2">
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Mastodon.social</a></li>
    </ul>
  </nav>

  <small class="copyright">©2017</small>

  <small class="welove">we &#128147 components</small>
</footer>