<!-- <header class="page__header"> -->
<!-- <img src="./assets/images/logo-adalab.png" alt="Adalab"> -->
<!-- <h1>@@title</h1> -->
<!-- </header> -->


<div class="menuburguer"><a title="Ir a Adalab" href="http://www.Adalab.es">
    <img src="../assets/images/ico-menu.svg" alt="Ir a Adalab" />
  </a>
</div>
<div class="hero-image">
  <header class="header">
    <h1 class="header__title">
      <span class="header__title1">Anonymous</span>
      <span class="header__title2">proxy</span>
    </h1>

    <p class="header__text">In hac habitasse platea dictumst.</p>
    <div class="header__scroll">
      <img src="../assets/images/ico-scroll-down.svg" alt="Ir a Adalab" />
    </div>
  </header>
</div>