<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluación Silvia Alonso</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /> -->
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="menuburguer"><a title="Ir a Adalab" href="http://www.Adalab.es">
      <img src="../assets/images/ico-menu.svg" alt="Ir a Adalab" />
    </a>
  </div>
  <div class="hero-image">
    <header class="header">
      <h1 class="header__title">
        <span class="header__title1">Anonymous</span>
        <span class="header_title2">proxy</span>
      </h1>

      <p class="header__text">In hac habitasse platea dictumst.</p>
      <div class="header__scroll">
        <img src="../assets/images/ico-scroll-down.svg" alt="Ir a Adalab" />
      </div>
    </header>
  </div>




  <main>
    <section class="looking">
      <p>Insomnia tips</p>
      <h2 class="looking__title">Looking through a window</h2>
      <p>
        Donec accusam, nulla ut volutpat por ttitor, quam odio tempus felis,
        at luctus ex diam nec lectus. Vivamus semper sodeles rutrum
      </p>
      <a href="#">Go</a>
    </section>

    <section class="reasons">
      <h2 class="reasons__title">3 reasons to purchase</h2>
      <div class="reasons__1">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>

      <div class="reasons__2">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>

      <div class="reasons__3">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>

      <a href="#">More reasons</a>
    </section>
  </main>

  <footer>
    <div class="footer__arrow">
      <img src="../assets/images/ico-arrow.svg" alt="Ir a Adalab" />
    </div>
    <nav class="footerlinks1">
      <ul>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Reasons</a></li>
        <li><a href="#">Tips</a></li>
      </ul>
    </nav>

    <nav class="footerlinks2">
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Mastodon.social</a></li>
      </ul>
    </nav>

    <small class="copyright">©2017</small>

    <small class="welove">we &#128147 components</small>
  </footer>
</body>

</html>