.footer {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto Regular;
  font-size: 16px;
  line-height: 30px;
  color: white;
  background-color: $dark-background-color;
  li {
    list-style-type: none;
  }

  &__arrow {
    margin-top: -24px;
    margin-bottom: 37px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transition: all ease-out 0.3s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }
  }

  &__footerlinks1 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__footerlinks2 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__smallandcopy {
    text-align: center;
  }
}

@media all and (min-width: 768px) {
  .footer {
    &__footerlinks1 {
      text-align: start;
    }
    &__footerlinks2 {
      text-align: start;
    }
    &__footerlinks3 {
      text-align: start;
    }
    &__smallandcopy {
      text-align: start;
      order: -1;
    }

    &__3items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
