.hero-image {
  height: 100vh;
  background: url(../images/cover.jpg) 100% center no-repeat;
  background-size: cover;
  width: 100%;
}

.menuburguer a {
  height: 44px;
  width: 44px;
  padding: 13px;
  box-sizing: border-box;
  background-color: #0271bc;
  display: block;
  position: fixed;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;

  &__title {
    margin-bottom: 10px;
    font-family: Roboto Slab;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  &__text {
    margin-bottom: 45px;
    font-family: Roboto Regular;
    font-size: 16px;
  }

  &__scroll {
    margin-bottom: 53px;
    padding-top: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
}

@media all and (min-width: 768px) {
  .header {
    &__title {
      font-size: 80px;
      line-height: 106px;
    }
    &__text {
      font-size: 24px;
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    &__title {
      font-size: 100px;
      line-height: 132px;
    }
  }
}
