.looking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 15px 45px 15px;

  &__smalltext {
    font-family: Roboto Regular;
    font-size: 14px;
    line-height: 30px;
    color: #8ccbea;
    text-transform: capitalize;
  }

  &__title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: black;
    text-transform: capitalize;
  }

  &__text {
    font-family: Roboto Regular;
    font-size: $font-size-text;
    line-height: 30px;
    color: $primary-text-color;
  }

  &__gobutton {
    border: 3px solid #f26002;
    border-radius: 33%;
    width: 76px;
    height: 45px;
    font-family: Roboto Medium;
    font-size: 20px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    &__link {
      text-decoration: none;
      color: $primary-link-color;
    }
  }
}

@media all and (min-width: 768px) {
  .looking {
    margin: 30px 39px 60px 39px;

    &__title {
      font-size: 26px;
      line-height: 45px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

.reasons {
  background-color: $light-background-color;
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto regular;
  padding-top: 30px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title" "reasons1 reasons1 reasons1" "reasons2 reasons2 reasons2" "reasons3 reasons3 reasons3" ". more .";
  row-gap: 45px;
  align-items: center;
  text-align: center;

  &__title {
    grid-area: title;
    text-transform: capitalize;
  }

  &__1 {
    grid-area: reasons1;
  }
  &__2 {
    grid-area: reasons2;
  }
  &__3 {
    grid-area: reasons3;
  }
  &__more {
    grid-area: more;

    &__link {
      color: white;
      text-decoration: none;
      font-size: 20px;
      line-height: 45px;
      background-color: $primary-link-color;
      padding: 10px 15px;
      border-radius: 22.5px;
      border: 1px solid $primary-link-color;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: white;
        color: $primary-link-color;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "title title title" "reasons1 reasons2 reasons3" ". more .";
    row-gap: 45px;
    column-gap: 30px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
